@{
    ViewData["Title"] = "Выход из сервисов Villagio";
}
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model EShopFanerum.AuthService.Models.Account.LogoutVm
<h1>
    Villagio
    <sub>Вы вышли из приложений Villagio.</sub>
</h1>
@if (Model?.AutomaticRedirectAfterSignOut is true && Model?.PostLogoutRedirectUri?.Length is > 0)
{
    <div class="sub-container">
        <p>
            Автоматическое возвращение в @Model.ClientName Если не сработало, нажмите кнопку "Вернуться".
        </p>    
        <a class="logout-redirect-uri btn" href="@Model.PostLogoutRedirectUri">Вернуться</a>
    </div>
    @section scripts
    {
        <script src="~/js/signout-redirect.min.js" asp-append-version="true"></script>
    }
}
else
{
    <div class="sub-container">
        <p>До новых встреч!</p>
        @if (Model?.PostLogoutRedirectUri?.Length is > 0)
        {
            <p>
                Нажмите кнопку "Вернуться", чтобы перейти в @Model.ClientName
            </p>
            <a class="logout-redirect-uri btn" href="@Model.PostLogoutRedirectUri">Вернуться</a>
        }
        else
        {
            <a class="btn" href="@Url.Action("login","account")">Войти заново</a>           
        }
    </div>
    @if (Model?.SignOutIframeUrl?.Length is > 0)
    {
        <iframe width="0" height="0" class="signout" src="@Model.SignOutIframeUrl"></iframe>
    }
}